
<div class="container">
  <header class="border-bottom lh-1 py-3">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
      <div class="col-lg-6 px-0">
        <h1 class="display-4 fst-italic">Biblioteca virtual</h1>
        <p class="lead my-3">Cada livro registrado possui uma versão fisica.</p>
      </div>
    </div>
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="link-secondary" href="#">Todos</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-body-emphasis text-decoration-none" href="#">Estou Lendo</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="link-secondary" href="#" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-3 border-bottom">
    <nav class="nav nav-underline justify-content-between">
      <a class="nav-item nav-link link-body-emphasis active" href="#">Box</a>
      <a class="nav-item nav-link link-body-emphasis active btn btn-success" data-bs-toggle="collapse" href="#adicionaBox" ><i class="bi bi-node-plus"></i></a>
    </nav>
  </div>
</div>
<main class="container">
  <div class="collapse" id="adicionaBox">
    <div class="card card-body d-flex">
      <label for="nomeBox">Qual Box você quer adicionar?</label>
      <input class="form-control" type="text" name="nomeBox" id="nomeBox" [(ngModel)]="nomeBox.nome">
      <button class="btn btn-primary btn-sm" (click)="adicionarBox()">Adicionar</button>
    </div>
  </div>
</main>

<main class="container" *ngFor="let box of boxs">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">{{box.nome_box}}</h1>
    </div>
    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#adicionaLivro" (click)="idBox = box.id_box"><i class="bi bi-journal-plus"></i></button>
  </div>

  <div class="row mb-2">
    <div class="col col-md-6" *ngFor="let livro of box.livros">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{ livro.nome_livro }}</h3>
          <div class="mb-1 text-body-secondary"> {{livro.status}} </div>
          <p class="card-text mb-auto"> {{livro.descricao}} </p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue lendo
            <svg class="bi"><use xlink:href="#chevron-right"/></svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img width="200" height="250" src="../../../assets/images/beedleobardo.webp"/>
        </div>
      </div>
    </div>
  </div>
</main>

<!--modal-->
<div class="modal fade" id="adicionaLivro" tabindex="-1" aria-labelledby="adicionaLivroLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="adicionaLivroLabel">Adicionar Livros ao Box:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-md-6">
          <label for="nomeLivro" class="form-label">Livro</label>
          <input type="text" class="form-control" id="nomeLivro" [(ngModel)]="nomeLivro">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="adicionarLivro()">Salvar</button>
      </div>
    </div>
  </div>
</div>
